<!DOCTYPE html>
<html ng-app="TheApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/base")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
</head>
    <body>
        <div class="container">
            <div class="row">
                <h1>Compu-Global-Hyper-Mega-Net</h1>
            </div>
            <div class="row">
                @RenderBody()
            </div>
            <div class="row">
                <ul class="list-unstyled col-sm-4">
                    <li><a href="/">About Us</a></li>
                    <li><a href="/">Copyright</a></li>
                    <li><a href="/">Privacy Policy</a></li>
                </ul>
                <ul class="list-unstyled col-sm-4">
                    <li><a href="/">Press Releases</a></li>
                    <li><a href="/">Sitemap</a></li>
                    <li><a href="/">Contact Us</a></li>
                </ul>
                <ul class="list-unstyled col-sm-4">
                    <li><a href="/">Careers</a></li>
                    <li><a href="/">Locations</a></li>
                    <li><a href="/">Help</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
